.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 24px;

  &__fixed {
    position: fixed;
    top: 0;
  }
}

.header__items {
  display: flex;
  align-items: center;
}

.link {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 29px;

  &:visited,
  &:active {
    color: var(--color-black);
  }

  &:nth-child(n + 2) {
    margin-left: 18px;
  }
}
