:root{
    --color-purple: #5754EB;
    --color-blue: #2C28DB;
    --color-dark-blue: #0E0BA7;
    --color-cyan: #54BEEB;
    --color-light-blue: #2870DB;
    --color-green: #0BA794;
    --color-white: #FFFFFF;
}