@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');

#hide_checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 50px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle_button {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 3px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #faeaf1;
  border-radius: 50%;
  transition: 500ms;
}

.crater_one {
  background: var(--color-white) FF9;
  width: 43px;
  height: 43px;
  left: 5px;
  bottom: 5px;
}

.crater_two {
  width: 10px;
  height: 10px;
  top: -3px;
  left: 22px;
}

.crater_three {
  width: 8px;
  height: 8px;
  top: 10px;
  right: -2px;
}

.crater_four {
  width: 5px;
  height: 5px;
  top: 12px;
  left: 15px;
}

.crater_five {
  width: 7px;
  height: 7px;
  top: 20px;
  left: 24px;
}

.crater_six {
  width: 5px;
  height: 5px;
  top: 24px;
  left: 10px;
}

.crater_seven {
  width: 6px;
  height: 6px;
  bottom: 2px;
  left: 17px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: var(--color-white);
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star_one {
  width: 3px;
  height: 3px;
  right: 45px;
  bottom: 20px;
}

.star_two {
  width: 4px;
  height: 4px;
  right: 35px;
  top: 5px;
}

.star_three {
  width: 2px;
  height: 2px;
  right: 30px;
  bottom: 7px;
}

.star_four {
  width: 1px;
  height: 1px;
  right: 20px;
  bottom: 25px;
}

.star_five {
  width: 2px;
  height: 2px;
  right: 5px;
  bottom: 17px;
}

.star_six,
.star_seven,
.star-eight {
  width: 5px;
  height: 1px;
  border-radius: 1px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px var(--color-white);
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star_six {
  right: 15px;
  bottom: 15px;
  animation-delay: -2s;
}

.star_seven {
  right: 25px;
  bottom: 30px;
}

.star_eight {
  right: 45px;
  top: 5px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(35px);
  }

  50% {
    transform: rotate(-45deg) translateX(-10px);
    box-shadow: 5px 0px 6px 1px var(--color-white);
  }

  100% {
    transform: rotate(-45deg) translateX(-15px);
    width: 1px;
    height: 1px;
    opacity: 0;
    box-shadow: none;
  }
}

#hide_checkbox:checked + .toggle {
  background: #24d7f7;
}

#hide_checkbox:checked + .toggle .toggle_button {
  background: #f7ffff;
  transform: translateX(51px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide_checkbox:checked + .toggle .toggle_button .crater {
  transform: rotate(-45deg) translateX(35px);
}

#hide_checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide_checkbox:checked + .toggle .star_one {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: var(--color-white);
  left: 10px;
  top: 12px;
  box-shadow: none;
}

#hide_checkbox:checked + .toggle .star_two {
  width: 6px;
  height: 6px;
  background: var(--color-white);
  left: 13px;
  top: 11px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star_three {
  width: 8px;
  height: 8px;
  background: var(--color-white);
  left: 17px;
  top: 10px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star_four {
  width: 7px;
  height: 7px;
  background: var(--color-white);
  left: 23px;
  top: 10px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star_five {
  width: 30px;
  height: 7px;
  border-radius: 15px;
  background: var(--color-white);
  left: 15px;
  bottom: 10px;
  box-shadow: none;
}

#hide_checkbox:checked + .toggle .star_six {
  width: 9px;
  height: 9px;
  background: var(--color-white);
  border-radius: 50%;
  left: 19px;
  bottom: 10px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star_seven {
  width: 12px;
  height: 12px;
  background: var(--color-white);
  border-radius: 50%;
  left: 26px;
  bottom: 10px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star_eight {
  width: 10px;
  height: 10px;
  background: var(--color-white);
  border-radius: 50%;
  left: 35px;
  top: 30px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(-1px);
  }
}
