:root {
  --color-black: #000000;
  --color-purple: #5754eb;
  --color-blue: #2c28db;
  --color-dark-blue: #0e0ba7;
  --color-cyan: #54beeb;
  --color-light-blue: #2870db;
  --color-green: #0ba794;
  --color-white: #ffffff;
  --color-white-shadow-50: rgba(255, 255, 255, 0.5);
}
